* {
	font-family: calibri;
	font-size: large;
}


body {
	color:black;
	background-color:white;
	background-image:url(fond.jpg);
	background-repeat:no-repeat;
	color: white;
}

#tout {
	position: absolute;
	top: 310px; left: 40px;
	height: 350px;

}

#top {
	position: absolute;
	top: -171px; left: 25px;
	width: 800px;
}

#un {
	position: relative;
}

td {
	border: 1px solid black;
}

table
{
    border-collapse: collapse;
    width: 125%;
}

input {
	border: transparent;
	background-color: transparent;
	color : white;
	width: 98%;
}

select {
	border: transparent;
	background-color: transparent;
	color : white;
	appearance : none;
	width: 100%;
	text-align: center;
}

option {
	border: transparent;
	background-color: transparent;
	color : black;
}

.ital {
	font-style: italic;
}

.titre {
	font-size: 30px;
	font-weight: bold; 
}

.b {
    width: auto;
    line-height: 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    vertical-align: middle;
    background: black;
    color: white;
    float: left;
    margin: 2px;
    position: absolute;
    left: 200px; top: 1000px;
}

.b:hover {
	background-color: grey;
}
