body {
	color:black;
	background-color:white;
	background-image:url(fond.jpg);
	background-repeat:no-repeat;
	color: white;
}

#un {
	position: absolute;
	top: 320px; left: 40px;
}

td {
	border: 1px solid black;
}

table
{
    border-collapse: collapse;
    width: 125%;
}

input {
	border: transparent;
	background-color: transparent;
	color : white;
	width: 98%;
}

select {
	border: transparent;
	background-color: transparent;
	color : white;
	appearance : none;
	width: 100%;
	text-align: center;
}

option {
	border: transparent;
	background-color: transparent;
	color : black;
}

.ital {
	font-style: italic;
}
